//
// BOOTSTRAP VARIABLES
//
// Potential bootstrap variables:
//
//    https://github.com/twbs/bootstrap/blob/master/less/variables.less
//
// Note that this is a scss file, not a less file:
//
// In LESS: @variable: "value";
// In SCSS: $variable: "value";
//

//$brand-primary: #337dcc;
//$brand-primary: #7cab2b;
$brand-primary: #618425;
$link-color: $brand-primary;
//$link-color: rgba(0,0,0,0.8);
$component-active-bg: $brand-primary;

$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif:      Helvetica, Arial, serif;

// CALYXOS VARIABLES

$masthead-bg: #333;
$vertical-padding: 2rem; // the space between the masthead and content