<section class="feature">
  <h1>Learn More</h1>
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="{{ '/assets/images/download-calyxos.svg' | relative_url }}" alt="#">
      <h2 class="mt-2"><a href="#">Download CalyxOS</a></h2>
      <p>Install CalyxOS on your device.</p>
    </div>
    <div class="col-md-6 md-collapse-top-spacer">
      <img class="img-fluid" src="{{ '/assets/images/about-calyxos.svg' | relative_url }}" alt="#">
      <h2 class="mt-2"><a href="#">About CalyxOS</a></h2>
      <p>Why did we create CalyxOS?</p>
    </div>
  </div>
</section>

<section class="feature">
  <h1>In The News</h1>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/heVNcdq2MKA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>
