---
title: features
----

<section class="singleFeature clearfix">
  <div class="featureInformation">
    <div class="text">
      <h2>Goodbye, Google</h2>
      <p>Your data won't be put into the Google Cloud, and your location won't be shared.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
  <div class="featureImage">
    <img src="images/placeholder.svg" alt="#">
  </div>
</section>

<section class="singleFeature imageFirst clearfix">
  <div class="featureImage">
    <img src="images/placeholder.svg" alt="#">
  </div>
  <div class="featureInformation">
    <div class="text">
      <h2>Safe Communication</h2>
      <p>We include the best secure communications apps so notext can listen in.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
</section>

<section class="singleFeature clearfix">
  <div class="featureInformation">
    <div class="text">
      <h2>Private Browsing</h2>
      <p>Use Tor Browser, Calyx VPN, and DuckDuckGo to keep yourself private online.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
  <div class="featureImage">
    <img src="images/placeholder.svg" alt="#">
  </div>
</section>

<section class="singleFeature imageFirst clearfix">
  <div class="featureImage">
    <img src="images/placeholder.svg" alt="#">
  </div>
  <div class="featureInformation">
    <div class="text">
      <h2>Regular Updates</h2>
      <p>Our team keeps CalyxOS up-to-date so you're always protected.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
</section>

<section class="featureRow twoFeatures clearfix">
  <div class="sectionHeading">
    <h1>Learn More</h1>
  </div>
  <div class="featureTile">
    <img src="images/placeholder.svg" alt="#">
    <h2><a href="#">Download CalyxOS</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="featureTile">
    <img src="images/placeholder.svg" alt="#">
    <h2><a href="#">About CalyxOS</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</section>

<section class="news">
  <div class="sectionHeading">
    <h1>In The News</h1>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/heVNcdq2MKA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<section class="joinCallout">
  <div class="text">
    <h1>Become a Member</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a class="secondaryButton" href="#">Join Calyx</a>
  </div>
</section>